body {
  font-size: 16px;
  line-height: 26px;
  font-family: Lato;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

body, html {
  min-height: 100%;
}

:root {
  --color-1: #FEE5B5;
  --color-2: #17272A;
  --color-3: #142022;
  --color-4: #233133;
  --color-5: #17262B;
  --color-6:#131F22;
}

h1 {
  font-family: Playfair Display;
  font-weight: 900;
}

header {
  width: 100%;
  border-bottom: 0.5px solid #233133;
  background-color: var(--color-5);
  position: sticky;
  top: 0px;
  z-index: 1090;
}
header .navbar-light {
  background-color: var(--color-5);
}
header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .show > .nav-link {
  color: #FEE5B5;
  font-size: 1.1rem;
}
header .navbar-light .navbar-brand {
  color: #FEE5B5;
  font-family: Playfair Display;
  font-weight: 900;
  font-size: 2.5rem;
}
header .navbar-light .navbar-brand {
  color: var(--color-1);
}
header .navbar-light .navbar-brand:hover, header .navbar-light .navbar-brand:focus {
  color: var(--color-1);
}
header .navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
header .bg-dif {
  background: none;
  color: var(--color-1);
  border-color: var(--color-1);
}
header .bg-dif:hover {
  background-color: var(--color-1);
  color: var(--color-5);
}
header .btn-outline-light:focus {
  border-color: var(--color-1) !important;
}
header .btn-outline-light {
  border-color: var(--color-1) !important;
}

.navbar-light .navbar-toggler {
  color: #fff7e7;
  border-color: var() !important;
}

.navbar-toggler {
  background-color: var(--color-1);
}

.banner {
  position: relative;
  width: 100%;
  border-bottom: 0.5px solid #233133;
  background-color: var(--color-5);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.banner .banner-text {
  margin-top: 3rem;
}
.banner .banner-text h4 {
  color: var(--color-1);
}
.banner .banner-text h1 {
  font-size: 3.5rem;
  color: white;
}
.banner .banner-text h3 {
  color: white;
}
.banner .banner-text p {
  color: white;
  text-align: justify;
}
.banner .banner-text .banner-icons a {
  background-color: var(--color-1);
  color: var(--color-5);
  font-size: 1.2rem;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  background-color: var(--color-6);
  border-bottom: 0.5px solid #233133;
}
.about .about-left {
  background-color: #131F22;
  box-shadow: 30px 30px 0px 0px rgba(254, 229, 181, 0.05);
  border-radius: 20px 0px 20px 0px;
}
.about .about-right {
  margin-left: 8rem;
  margin-top: 1rem;
}
.about .about-right h1 {
  color: white;
  font-size: 3rem;
  position: relative;
}
.about .about-right h1:after {
  content: "";
  display: block;
  width: 20%;
  height: 5px;
  background-color: var(--color-1);
  position: absolute;
  bottom: -15px;
  left: 0;
}
.about .about-right p {
  text-align: justify;
}
.about .about-right .btn-about {
  border-color: var(--color-1);
  background: none;
  color: var(--color-1);
  transition: 0.5s;
  font-weight: 600;
}
.about .about-right .btn-about:hover {
  background-color: var(--color-1);
  color: var(--color-6);
}

.h1 {
  position: relative;
  margin-bottom: 5rem !important;
}

.h1:after {
  content: "";
  display: block;
  width: 10%;
  background-color: var(--color-1);
  height: 5px;
  position: absolute;
  left: 10px;
  bottom: -20px;
}

.h1-dif {
  position: relative;
  margin-bottom: 5rem !important;
}

.h1-dif:after {
  content: "";
  display: block;
  width: 30%;
  background-color: var(--color-1);
  height: 5px;
  position: absolute;
  left: 10px;
  bottom: -20px;
}

.service {
  background-color: var(--color-5);
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 0.5px solid #233133;
}
.service .service-items {
  background-color: var(--color-6);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 30px 30px 0px 0px rgba(254, 229, 181, 0.05);
  border-radius: 20px 0px 20px 0px;
  margin-bottom: 5rem !important;
}
.service .service-items p {
  text-align: justify;
}
.service .service-items p i {
  color: var(--color-1) !important;
  font-size: 2.5rem;
}
.service .service-items h4 {
  color: white;
}

.project {
  padding-bottom: 100px;
  padding-top: 80px;
  width: 100%;
  border-bottom: 0.5px solid #233133;
  background-color: var(--color-5);
}
.project .project-items {
  position: relative;
  margin-bottom: 5rem;
  background-color: var(--color-6);
  box-shadow: 30px 30px 0px 0px rgba(254, 229, 181, 0.05);
  border-radius: 20px 0px 20px 0px;
}
.project .overly {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-3);
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  transform: scale(0);
}
.project .overly h3 {
  color: var(--color-1);
  font-weight: 600;
}
.project .overly .btn-live {
  background: none;
  border-color: var(--color-1);
  color: var(--color-1);
  transition: 0.5s;
  font-weight: 600;
  display: inline-block;
}
.project .overly .btn-live:hover {
  background-color: var(--color-1);
  color: var(--color-6);
}
.project .project-items:hover .overly {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.skills {
  width: 100%;
  border-bottom: 0.5px solid #233133;
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--color-5);
}
.skills .skills-items {
  background-color: #131F22;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 20px 20px 0px 0px rgba(254, 229, 181, 0.05);
  border-radius: 20px 0px 20px 0px;
  margin-bottom: 60px;
  justify-content: center;
  text-align: center;
}

footer {
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100%;
  background-color: var(--color-6);
}
footer h1 {
  color: white;
}
footer .contact-icons a {
  background-color: var(--color-1);
  color: var(--color-5);
  font-size: 1.2rem;
}
footer .contact-icons a:focus {
  background-color: #FEE5B5;
  box-shadow: 0.5 0.5 20px var(--color-1);
  color: var(--color-6);
}
footer .contact-icons a:hover {
  background-color: #FEE5B5;
}
footer .contact-items {
  background-color: #17262B;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 20px 20px 0px 0px rgba(254, 229, 181, 0.08);
  border-radius: 20px 0px 20px 0px;
  margin-bottom: 60px;
  justify-content: center;
  text-align: center;
}
footer .contact-items i {
  color: var(--color-1);
  font-size: 1.5rem;
}
footer .contact-items a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 992px) {
  .banner {
    padding-bottom: 7rem;
  }
  .overly {
    padding: 3rem !important;
  }
  .about .about-right {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .project .overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-3);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transform: scale(0);
    display: flr;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .project .overly p {
    display: none;
  }
  .project .overly h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .h1:after {
    width: 20%;
  }
  .h2:after {
    width: 10%;
  }
  .about .about-right h1 {
    color: white;
    font-size: 1.7rem;
    position: relative;
  }
}
@media only screen and (max-width: 576px) {
  .me-5 {
    margin-right: 1.5rem !important;
  }
}/*# sourceMappingURL=style.css.map */